{{ partial "header" . }}
<main>
  <h1>{{ .Title }}</h1>
  <ul class="posts">
  <!-- Ranges through content/post/*.md -->
  {{ range .Data.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <div class="item">
          <a href="{{ .Permalink }}">{{ .Title }} - <time datetime="{{ .Date.Format "January 2, 2006" }}">{{ .Date.Format "January 2, 2006" }}</time></a>
        </div>
      </li>
      {{ end }}
    </ul>
  {{ end }}
  </ul>
</main>
{{ partial "footer" . }}
