html {
  background-color: #F0EAD6;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #312c32;
  color: #F0EAD6;
  width: 100%;
  font-family: 'Arvo', serif;
}

.header > h1 {
  margin-left: 10px;
  font-size: 4em;
  text-align: center;
}

.header > h1 > a {
  text-decoration: none;
  color: #F0EAD6;
}

.header > h2 {
  margin-top: -1em
  font-style: italic;
  text-align: center;
}

main {
  margin-top: 3em;
  font-family: 'Arvo', serif;
  padding-top: 14em;
  color: #312c32;
}

main > h1 {
  font-size: 3em;
  text-decoration: underline;
  margin: 0 auto;
  width: 70%;
}

.posts {
  margin: 0 auto;
  margin-top: 3em;
  width: 65%;
}

.posts > h2 {
  font-size: 3em;
}

.posts > ul {
  list-style: none;
}

.posts > ul > li {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  width: 65%;
}

.item {
  text-decoration: underline;
}

.item > a {
  color: #312c32  ;
}
