<html lang="{{ .Site.LanguageCode }}">
  <head>
    <link rel="stylesheet" href="css/homepage.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo"/>
  </head>
  <body>
    <div class="title">
      <h1>Alex Owens</h1>
    </div>
    <div class="links">
      <a href="/post/">Blog</a>
      <a class="button" href="https://secondwind.itch.io/">Games</a>
      <a class="button" href="https://twitter.com/secondwindgames/">Tweets</a>
      <a class="button" href="https://github.com/aowens-21/">GitHub</a>
    </div>
  </body>
</html>
